footer.page-footer
  .page-footer__top
    a.page-footer__logo(href="") 
      img.page-footer__logo-img(src="/images/icon/logo.svg", width="75" alt="Logo")
    .container.container--medium.page-footer__container 
      .twitter-widget.page-footer__twitter-widget
        .twitter-widget__head
          .twitter-widget__head-icon-wrap
            .twitter-widget__head-icon
              img(src="/images/icon/twitter.svg", width="17" alt="Twitter logo")
          .twitter-widget__head-info
            a.twitter-widget__head-info-link(href="https://twitter.com/saltgroup") 
            p.twitter-widget__head-info-username @saltgroup
            p.twitter-widget__head-info-text Twitter feed
        .twitter-widget__content
          a.twitter-timeline(href="ttps://twitter.com/saltgroup?ref_src=twsrc%5Etfw") Tweets by saltgroup
          script(src="https://platform.twitter.com/widgets.js" async charset="utf-8")
          
      nav.page-footer__nav
        ul.page-footer__menu-list.footer-menu
          li.footer-menu__item
            p.footer-menu__item-title Navigation
            ul.footer-menu__submenu
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Home
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Products
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Services
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Resources
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") About
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") CONTACT US
          li.footer-menu__item
            p.footer-menu__item-title Links
            ul.footer-menu__submenu
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Disclaimer
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Legal
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Environment Policy
              li.footer-menu__submenu-item
                a.footer-menu__submenu-text.footer-menu__submenu-link(href="#") Privacy
          li.footer-menu__item
            p.footer-menu__item-title Contact sales
            ul.footer-menu__submenu
              li.footer-menu__submenu-item
                p.footer-menu__submenu-text.footer-menu__submenu-text--lh28 Phone: <a href="tel:+61396144416">+61 3 9614 4416</a>
              li.footer-menu__submenu-item
                p.footer-menu__submenu-text.footer-menu__submenu-text--lh28 Email: <a href="mailto:sales@saltgroup.com.au">sales@saltgroup.com.au</a>
  .page-footer__bottom
    p.page-footer__copyright © 2017 SALT GROUP <span class="page-footer__copyright-rhombus"></span> ALL RIGHTS RESERVED. WEBSITE BY DORNE CREATIVE.