header.page-header
  .container.container--medium.page-header__container
    a.page-header__logo(href="") 
      img.page-header__logo-img(src="/images/icon/logo-head.png", width="78" alt="Logo company")
    nav.page-header__nav
      .page-header__nav-wrapper
        button.page-header__close-menu.typical-close.js-close-menu(type="button")
          span.typical-close__line-wrap
            span.typical-close__line.typical-close__line1
            span.typical-close__line.typical-close__line2

        ul.page-header__menu.main-menu
          li.main-menu__item
            a.main-menu__link(href="#") Home
          li.main-menu__item
            a.main-menu__link(href="#") Products
          li.main-menu__item
            a.main-menu__link(href="#") Services
          li.main-menu__item
            a.main-menu__link(href="#") Resources
          li.main-menu__item
            a.main-menu__link(href="#") About
          li.main-menu__item
            a.main-menu__link(href="#") Contact us
    button.page-header__burger.burger.js-open-menu(type="button" aria-label="Open mobile menu")
      span.burger__line.burger__line--small 
      span.burger__line 
      span.burger__line.burger__line--small 