*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li, div, button, input {
  margin: 0;
  padding: 0;
}
button, iframe {
  border: none;
}
button {
  background: none;
  cursor: pointer;
}
img, iframe {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
textarea {
  resize: vertical;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input,
textarea {
  appearance: none;
}
body {
  font-family: 'ProximaNova', Helvetica, sans-serif;
  font-weight: normal;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  margin: 0 auto;
  position: relative;
  box-sizing: content-box;
  padding-left: 15px;
  padding-right: 15px;
}
.container--small {
  max-width: 920px;
}
.container--medium {
  max-width: 1152px;
}
.container--big {
  max-width: 1300px;
}


