// Fonts
$myriadFont: 'MyriadPro', Helvetica, sans-serif;
$ralewayFont: 'Raleway', Helvetica, sans-serif;

// Colors
$white: #fff;
$orange: #ff8b00;
$purple: #7050e5;
$textGray: #878787;
$lightGray: #f8f8f8;
$darkGray: #525252;