// Fonts
$myriadFont: 'MyriadPro', Helvetica, sans-serif;
$ralewayFont: 'Raleway', Helvetica, sans-serif;

// Colors
$white: #fff;
$orange: #ff8b00;
$purple: #7050e5;
$purple2: #5634d1;
$textGray: #878787;
$textGray2: #9b9b9b;
$textGray3: #999;
$lightGray: #f8f8f8;
$darkGray: #525252;
$darkGray2: #555;
$footerGray: #363636;
$footerGray2: #252525;