extends ../layout/main

block variables
 - var title = 'Salt'
 - var bodyClass = 'index'
block content
  main
    section.index__head.main-head
      .main-head__container
        .main-head__slider-block
          .main-head__slider.swiper-container.js-slider.js-slider--main
            .main-head__pagination
            .main-head__slider-wrapper.swiper-wrapper 
              .main-head__slide.swiper-slide.main-head-slide
                .container.container--medium.main-head-slide__container 
                  .main-head-slide__info
                    p.main-head-slide__title Device Authentication
                    p.main-head-slide__description SALT Group is a world leader in authentication and security. We have a range of services to improve user authentication. Discover the possibilities with SALT.
                    a.main-head-slide__btn.btn(href="") GET STARTED
                  .main-head-slide__img-wrap
                    img.main-head-slide__img(src="/images/icon/twitter.svg", width="148" alt="Twitter logo")
              .main-head__slide.swiper-slide.main-head-slide
                .container.container--medium.main-head-slide__container 
                  .main-head-slide__info
                    p.main-head-slide__title Device Authentication2
                    p.main-head-slide__description SALT Group is a world leader in authentication and security. We have a range of services to improve user authentication. Discover the possibilities with SALT.
                    a.main-head-slide__btn.btn(href="") GET STARTED
                  .main-head-slide__img-wrap
                    img.main-head-slide__img(src="/images/icon/twitter.svg", width="148" alt="Twitter logo")
              .main-head__slide.swiper-slide.main-head-slide
                .container.container--medium.main-head-slide__container 
                  .main-head-slide__info
                    p.main-head-slide__title Device Authentication3
                    p.main-head-slide__description SALT Group is a world leader in authentication and security. We have a range of services to improve user authentication. Discover the possibilities with SALT.
                    a.main-head-slide__btn.btn(href="") GET STARTED
                  .main-head-slide__img-wrap
                    img.main-head-slide__img(src="/images/icon/twitter.svg", width="148" alt="Twitter logo")
      