.main-menu {
  display: flex;
  align-items: center;
}
.main-menu__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}
.main-menu__link {
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $white;
  display: inline-block;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: -5px;
    right: -5px;
    height: 3px;
    transition: transform 0.3s ease-out;
    transform: scale(0);
    background-color: $orange;
  }
}
.main-menu__link:hover,
.main-menu__link:focus {
  &::before {
    transform: scale(1);
  }
}
@media (max-width: 768px) {
  .main-menu {
    flex-direction: column;
  }
  .main-menu__item {
    margin-right: 0;
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}