.page-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  transition: all 0.3s ease-out;

}
.page-header--transform {
  transform: translateY(-105%);
}
.page-header--active {
  background-color: $purple;
  .page-header__logo-img {
    width: 45px;
  }
}

.page-header__logo-img {
  transition: all 0.3s ease-out;
}
.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

}
.page-header__nav {
  padding-top: 11px;
}

@media (max-width: 768px) {
  .page-header__container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .page-header__logo-img {
    width: 45px;
  }
  .page-header__nav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 280px;
    overflow: hidden;
    padding-top: 0;
    background-color: $purple;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }
  .page-header__nav--active {
    transform: none;
  }
  .page-header__nav-wrapper {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: auto;
    position: relative;
  }
  .page-header__nav--active {

    .typical-close__line1 {
      animation-name: crossRight;
      animation-delay: .5s;
      transform: translateY(-30px) translateX(30px) rotate(45deg);
    }
    .typical-close__line2 {
      animation-name: crossLeft;
      animation-delay: .4s;
      transform: translateY(-30px) translateX(-30px) rotate(-45deg);
    }
  
    .typical-close::before {
      transform: scale(1);
    }
    .typical-close:hover::before {
      transform: scale(1.2);
    }
  }
  .page-header__close-menu {
    position: absolute;
    top: 45px;
    right: 45px;
  }
}
@media (max-width: 400px) {
  .page-header__nav {
    max-width: none;
  }
}