.video {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.video__bg {
  width: 100%;
  height: 0;
  padding-bottom: 62.5%;
  // padding-bottom: 430px;
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba($color: $darkGray, $alpha: 0.7);
  }
}
.video__play-icon {
  position: absolute;
  left: 50%;
  bottom: calc(26% + 85px);
  transform: translateX(-50%);
}
.video__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
.video__category,
.video__name {
  font-family: $ralewayFont;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.video__category {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.video__name {
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
}
.video__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.video:hover {
  .video__bg {
    transform: scale(1.05);
  }
}

@media (max-width: 1200px) {
  .video__name {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .video__play-icon {
    bottom: calc(30% + 50px);
    img {
      width: 50px;
      height: 50px;
    }
  }
}
@media (max-width: 600px) {
  .video__content {
    display: none;
  }
  .video__play-icon {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }
}